{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recipes</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">  
<style>
body {
    font-family: Helvetica,"Helvetica Neue",Arial,"Lucida Grande",sans-serif;
}
#header, #menu-top {
    background-color: #554e6e;
    margin: -8px
}

#header {
    color: #ffffff;
    padding: 10px 15px 15px 48px;
}

.recipe {
    padding: 15px;
}


.recipe .select2-container{
    width: 550px !important;
}

.ag-header-cell {
    background-color: #71ac63;
    color: #FFF;
}

</style>
</head>
<body>
  <div id="app">
    <v-app>
        <v-app-bar
          color="deep-purple accent-5"
          dark
          prominent
        >
          <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
          <v-img
            class="ma-2"
            src="{% static "/site-wide/logo-large-white.png" %}" 
            max-width="300"
          ></v-img>
        </v-app-bar>
        <v-navigation-drawer
          v-model="drawer"
          absolute
          bottom
          temporary
        >
          <v-list
            nav
          >
            <v-list-item-group
              v-model="group"
              active-class="deep-purple--text text--accent-4"
            >
              <v-list-item 
                v-on:click="getSKUs"
              >
                <v-list-item-title>Recipes</v-list-item-title>
              </v-list-item>
              <v-list-item>
                <v-list-item-title>Inventory</v-list-item-title>
              </v-list-item>
    
              <v-list-item>
                <v-list-item-title>Suppliers</v-list-item-title>
              </v-list-item>
    
            </v-list-item-group>
          </v-list>
        </v-navigation-drawer>
  
        <v-container style="height: 100%;">
          <!-- RECIPES -->
          <v-container
          >
          <v-row>
            <div
              class="text-h3 ma-5"
              v-text="app_name"
            ></div>
          </v-row>
          <v-row>
            <v-col cols="4">
              <v-combobox
                v-model="recipe_selected"
                :items="recipe_list"
                label="Recipes"
                outlined
              ></v-combobox>
            </v-col>
          </v-row>
          <v-row>
            <div 
              id="recipe_grid"
              class="ag-theme-alpine mx-3"
              style="width: 100%; height: 100%;"
            >
          </v-row>
        </v-container>
      </v-container>

        <!-- <v-card-text>
          The navigation drawer will appear from the bottom on smaller size screens.
        </v-card-text> -->
    </v-app>
  </div>

    <!-- <div id="menu-top">
        <div id="header" style="padding-bottom: 0px;">
            <div id="branding">
            <img src="{% static "/site-wide/logo-large-white.png" %}" width="300px">
            </div>
        </div>
    </div>
    <div class="recipe">
        <h1>Recipes</h1>
        <select id="skus">
            <option selected disabled="true">Select a Product</option>
            {% for s in skus %}
                <option value="{{s.id}}">{{s.description}} ({{s.sku}})</option>
            {% endfor %}
        </select>
    </div>
    <div id="myGrid" class="ag-theme-alpine" style="width: 100%; height: 100%;">
    </div> -->
</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ag-grid/25.0.0/ag-grid-community.min.js" integrity="sha512-7VPz1NAYcuVu1/eQooUfDUcG2sGRdmy2P9sa6ZgtXOpAVY66bN4u+cDXPcmhrVKA44LdznEEZwMabZ3qO8HB6A==" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>

function currencyFormatter(currency) {
    var sansDec = parseFloat(currency.value).toFixed(2);
    var formatted = sansDec.replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
    return '$' + `${formatted}`;
}

function numberFormatter(currency) {
    var sansDec = parseFloat(currency.value).toFixed(4);
    var formatted = sansDec.replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
    return `${formatted}`;
}

var sku_url = "/operations/recipes/";
var gridOptions = {
  enableRangeSelection: true,
  enableRangeHandle: true,
  columnDefs: [
      {
        field: 'SKU',
        width: 300,
      },
      {
        field: 'Description',
        width: 450,
      },
      { 
          field: 'Quantity Needed',
          width: 150,
          valueFormatter: numberFormatter
      },
      {
        field: 'Unit of Measure',
        width: 150,
      },
      {
          field: 'Cost',
          width: 150,
          valueFormatter: currencyFormatter
      },
  ],
  defaultColDef: {
      // flex: 1,
      editable: true,
      resizable: true,
  },
  rowData: [],

};

var vm = new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data: {
        app_name: "",
        drawer: false,
        group: null,
        recipe_list: [{
          value: 'me',
          text: 'you'
        }],
        recipe_selected: ""
    },
    watch: {
        group () {
            this.drawer = false
        },
        recipe_selected: function(val){
          agGrid
            .simpleHttpRequest({
                url: '/operations/recipes/' + val.value + '/',
            })
            .then(function (data) {
                gridOptions.api.setRowData(data);
            });
        }
    },
    mounted(){
      var gridDiv = document.querySelector('#recipe_grid');
      new agGrid.Grid(gridDiv, gridOptions);
      gridOptions.api.setDomLayout('autoHeight');

    },
    methods: {
      getSKUs: function () {
        vm.app_name = "Recipes";

        $.getJSON(sku_url, function(data) {
          vm.recipe_list = data;
        });
      }
    }
})

</script>
</html>