{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Recipes</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">  
<style>
body {
    font-family: Helvetica,"Helvetica Neue",Arial,"Lucida Grande",sans-serif;
}
#header, #menu-top {
    background-color: #554e6e;
    margin: -8px
}

#header {
    color: #ffffff;
    padding: 10px 15px 15px 48px;
}

.recipe {
    padding: 15px;
}


.recipe .select2-container{
    width: 550px !important;
}

.ag-header-cell, .ag-row-pinned {
    background-color: #71ac63 !important;
    color: #FFF !important;
    font-weight: bold !important;
}


</style>
</head>
<body>
  <div id="app">
    <v-app>
        <v-app-bar
          color="deep-purple accent-5"
          dark
          prominent
          height="90"
        >
          <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
          <v-img
            class="ma-2"
            src="{% static "/site-wide/logo-large-white.png" %}" 
            max-width="300"
          ></v-img>
          <!-- <v-toolbar-title
            v-text="app_name"
            class="text-h2 pb-3 flex text-center"
          >
          </v-toolbar-title> -->
        </v-app-bar>
        
        <v-navigation-drawer
          v-model="drawer"
          absolute
          bottom
          temporary
        >
          <v-list
            nav
          >
            <v-list-item-group
              v-model="group"
              active-class="deep-purple--text text--accent-4"
            >
              <v-list-item 
                v-on:click="getSKUs"
              >
                <v-list-item-title>Recipes</v-list-item-title>
              </v-list-item>
              <v-list-item>
                <v-list-item-title>Inventory</v-list-item-title>
              </v-list-item>
    
              <v-list-item>
                <v-list-item-title>Suppliers</v-list-item-title>
              </v-list-item>
    
            </v-list-item-group>
          </v-list>
        </v-navigation-drawer>

        <v-container 
          style="height: 100%;"
          v-show="app_name === 'Home'"
        >
        </v-container>

        <v-container 
          style="height: 100%;"
          v-show="app_name === 'Recipes'"
        >
          <!-- RECIPES -->
          <v-container
          >
          <v-row
            class="mb-4"
          >
            <v-col cols="5">
              <div
                class="text-h3"
                v-text="app_name"
              ></div>
            </v-col>
          </v-row>
          <v-row
            class="mb-5"
          >
            <v-col cols="5">
              <v-card>
                <v-row>
                  <v-col cols="8">
                    <v-card-title>What Are You Making?</v-card-title>
                    <v-card-text>
                      <v-combobox
                        v-model="recipe_selected"
                        :items="recipe_list"
                        label="Recipes"
                        class="ma-5"
                      ></v-combobox>

                      <v-text-field
                        label="Batch Size"
                        type="number"
                        hide-details="auto"
                        class="ma-5"
                        clearable
                      ></v-text-field>
                    </v-card-text>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="5">
              <v-card>
                <v-card-title>How Long Does It Take?</v-card-title>
                <v-card-text>
                  <v-row>
                    <v-col cols="8">
                      <v-text-field
                        v-model="how_long.setup"
                        label="Setup and Preperation"
                        type="number"
                        hide-details="auto"
                        class="ma-5"
                        suffix="hours"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="how_long.setup_rate"
                        label="Hourly Rate"
                        type="number"
                        hide-details="auto"
                        class="ma-5"
                        prefix="$"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="8">
                      <v-text-field
                        v-model="how_long.making"
                        label="Making"
                        type="number"
                        hide-details="auto"
                        class="ma-5"
                        suffix="hours"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="how_long.making_rate"
                        label="Hourly Rate"
                        type="number"
                        hide-details="auto"
                        class="ma-5"
                        prefix="$"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="8">
                      <v-text-field
                        v-model="how_long.clean_up"
                        label="Clean Up"
                        type="number"
                        hide-details="auto"
                        class="ma-5"
                        suffix="hours"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="how_long.clean_up_rate"
                        label="Hourly Rate"
                        type="number"
                        hide-details="auto"
                        class="ma-5"
                        prefix="$"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="8">
                      <v-text-field
                        v-model="how_long.design"
                        label="Custom Labeling Design"
                        type="number"
                        hide-details="auto"
                        class="ma-5"
                        suffix="hours"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="how_long.design_rate"
                        label="Hourly Rate"
                        type="number"
                        hide-details="auto"
                        class="ma-5"
                        prefix="$"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="8">
                      <v-text-field
                        v-model="how_long.formulation"
                        label="Custom Formulation"
                        type="number"
                        hide-details="auto"
                        class="ma-5"
                        suffix="hours"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="how_long.formulation_rate"
                        label="Hourly Rate"
                        type="number"
                        hide-details="auto"
                        class="ma-5"
                        prefix="$"
                      ></v-text-field>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="8">
                      <v-text-field
                        v-model="total_labor_hours"
                        label="Total Hours"
                        type="number"
                        class="ma-5"
                        outlined
                        readonly
                        filled
                        suffix="hours"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="4">
                      <v-text-field
                        v-model="total_labor_dollars"
                        label="Total Labor Cost"
                        type="number"
                        class="ma-5"
                        prefix="$"
                        outlined
                        readonly
                        filled
                      ></v-text-field>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </v-col>

          </v-row>
          <v-spacer></v-spacer>
          <v-row>
            <v-col>
              <v-btn
                dark
                color="blue"
                v-on:click="onBtExport"
                class="mb-3"
              >
                <v-icon>
                  mdi-cloud-download
                </v-icon>
              </v-btn>
            </v-col>
          </v-row>

          </v-row>
          <v-row>
            <div 
              id="recipe_grid"
              class="ag-theme-alpine mx-3"
              style="width: 100%; height: 100%;"
            >
          </v-row>
        </v-container>



      </v-container>
        <!-- <v-card-text>
          The navigation drawer will appear from the bottom on smaller size screens.
        </v-card-text> -->
    </v-app>
  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@ag-grid-enterprise/all-modules@25.0.1/dist/ag-grid-enterprise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.x"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script>
var sku_url = "/operations/recipes/";
var gridDiv;

function currencyFormatter(currency) {
    var sansDec = parseFloat(currency.value).toFixed(2);
    var formatted = sansDec.replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
    return '$' + `${formatted}`;
}

function numberFormatter(currency) {
    var sansDec = parseFloat(currency.value).toFixed(4);
    var formatted = sansDec.replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
    return `${formatted}`;
}

function getBooleanValue(cssSelector) {
  return document.querySelector(cssSelector).checked === true;
}

function getTextValue(cssSelector) {
  return document.querySelector(cssSelector).value;
}

function getNumericValue(cssSelector) {
  var value = parseFloat(getTextValue(cssSelector));
  if (isNaN(value)) {
    var message = 'Invalid number entered in ' + cssSelector + ' field';
    alert(message);
    throw new Error(message);
  }
  return value;
}

function onBtExport() {
  var params = {

  };

  gridOptions.api.exportDataAsExcel(params);
}

function onPinnedRowBottomCount(data) {
  var rows = create_subtotals(data);
  gridOptions.api.setPinnedBottomRowData(rows);
}

function create_subtotals(data){
  var subtotal = [{
      sku: "",
      description: "",
      quantity_needed: 0,
      unit_of_measure: "",
      total_cost: 0
    }];

  if(data){
    var total_cost = 0;
    $.each(data, function( index, value ) {
      total_cost+= value.total_cost;
    });

    subtotal[0].total_cost = total_cost;
  }

  return subtotal
}

var gridOptions = {
  enableRangeSelection: true,
  enableRangeHandle: true,
  columnDefs: [
      {
        field: "sku",
        headerName: "SKU",
        width: 300,
      },
      {
        field: "description",
        headerName: "Description",
        width: 400,
      },
      {
        field: "unit_of_measure",
        headerName: "Unit of Measure",
        width: 175,
      },
      { 
        field: "quantity_needed",
        headerName: "Quantity Needed",
        width: 175,
        valueFormatter: numberFormatter
      },
      {
        field: "total_cost",
        headerName: "Total Cost",
        width: 150,
        valueFormatter: currencyFormatter
      },
  ],
  pinnedBottomRowData: create_subtotals(),
  defaultColDef: {
      // flex: 1,
    sortable: true,
    filter: true,
    resizable: true,
  },
  rowData: [],
};

var vm = new Vue({
    el: '#app',
    vuetify: new Vuetify(),
    data: {
      app_name: "Recipes",
      drawer: false,
      group: null,
      recipe_list: [],
      recipe_selected: "",
      how_long: {
        setup: null,
        setup_rate: 15,
        making: null,
        making_rate: 15,
        clean_up: null,
        clean_up_rate: 15,
        design: null,
        design_rate: 15,
        formulation: null,
        formulation_rate: 15
      }
    },
    computed: {
      total_labor_hours: function(){
        var val = this.how_long;
        return Number(val.setup) + Number(val.making) + Number(val.clean_up) + Number(val.design) + Number(val.formulation);
      },
      total_labor_dollars: function(){
        var val = this.how_long;
        return (
          (Number(val.setup) * Number(val.setup_rate)) +
          (Number(val.making) * Number(val.making_rate)) +
          (Number(val.clean_up) * Number(val.clean_up_rate)) +
          (Number(val.design) * Number(val.design_rate)) +
          (Number(val.formulation) * Number(val.formulation_rate))
        )
      }
    },
    watch: {
        group () {
            this.drawer = false
        },
        recipe_selected: function(val){
          agGrid
            .simpleHttpRequest({
                url: '/operations/recipes/' + val.value + '/',
            })
            .then(function (data) {
                gridOptions.api.setRowData(data);
                onPinnedRowBottomCount(data);
            });
        },
    },
    mounted(){
      gridDiv = document.querySelector('#recipe_grid');
      new agGrid.Grid(gridDiv, gridOptions);
      gridOptions.api.setDomLayout('autoHeight');

      $.getJSON(sku_url,
        {

        },
        function(data) {
        vm.recipe_list = data;
      });
    },
    methods: {
      getSKUs: function () {
        vm.app_name = "Recipes";


      }
    }
})

</script>
</html>