[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[requires]
python = "3.7.6"

[dev-packages]
pylint = "*"

[packages]
virtualenv = "*"
psycopg2 = "*"
requests = "*"
cherrypy = "*"
django-appconf = "*"
django-simple-history = "*"
xlsxwriter = "*"
django = "*"
flake8 = "*"
beautifulsoup4 = "*"
pandas = "*"
shopifyapi = "*"
mws = "*"
