#raw_material_proxy_form select {
    width: 275px;
}

#raw_material_proxy_form input[type=text] {
    width: 260px;
}

#raw_material_proxy_form input[type=number] {
    width: 150px;
}

#raw_material_proxy_form .readonly {
    width: 165px;
}

#product_bundle_header_form .select2-container {
    width: 400px !important;
}

#recipe_proxy_form .select2-container {
    width: 350px !important;
}


#inventory_onhand_form .select2-container {
    width: 350px !important;
}

.field-supplier .select2-container {
    width: 350px !important;
}

#product_form .select2-container {
    width: 400px !important;
}

#Invoice_Line_invoice_fk-group .select2-container {
    width: 400px !important;
}

td.original p {
    visibility: hidden !important;
}

.inline-group .tabular tr.has_original td {
    padding-top: 5px !important;
}


#changelist-form .field-quantity_onhand,
#changelist-form .column-quantity_onhand,
#changelist-form .field-transfer_quantity,
#changelist-form .column-transfer_quantity {
    width: 125px;
}

#changelist-form .field-quantity_onhand input,
#changelist-form .field-transfer_quantity input {
    width: 95px;
}
