#materials_management_proxy_form select{
    width: 275px;
}

#materials_management_proxy_form input[type=text], #materials_management_proxy_form input[type=number]{
    width: 260px;
}

#inventory_onhand_form .select2-container{
    width: 350px !important;
}

#product_form .select2-container{
    width: 550px !important;
}

#product_form td.original p {
    visibility: hidden;
}

#product_form .inline-group .tabular tr.has_original td {
    padding-top: 5px;
 }